.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10;
    height: 400px;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.lsDestination {
    margin-bottom: 10px;
}

.lsSearchHeading {
    font-size: 14px;
    margin-bottom: 5px;
}

.lsSearchInput {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.lsCheckIn {
    background-color: white;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.lsSearchOptions {
    padding: 5px 5px;
}

.lsOptionGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
}

.lsType {
    width: max-content;
    font-size: 14px;
    color: rgb(61, 55, 55);
}

.lsSearchTypeInput {
    outline: none;
    width: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.lsSearchBtn {
    width: 100%;
    background-color: #003580;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.listResult {
    flex: 3;
}